*{
    margin: 5px;
    font-family: 'Zen Old Mincho', serif;
}

body {
    background-color: wheat;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(56, 75, 25);
}
 p {
     text-align: center;
     font-size: 25px;
     color: rgb(56, 75, 25);
 }

 h2 {text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(56, 75, 25);
 }



 .list {
     margin-left: 30%;
     margin-right: 30%;
     vertical-align : middle;
     color: rgb(56, 75, 25);
     font-size: 20px;
  }

 img {
     margin-left: 25%;
     width: 50%;
 }

 .links {
     text-align: center;
 }

 .mood {
     margin-top: 10px;
 margin-left: 17%;
 width: 40%;
 height: 40%; }


.mood1 {
    transform: translate(70%, -100%);

}

.facts {
    margin-top: -20%;
    margin-left: -60%;
}

ul {
    margin-left: 10%;
     margin-right: 30%;
     vertical-align : middle;
     color: rgb(56, 75, 25);
     font-size: 20px;
}